<div class="container-in" style="margin: 10px">
  {{ form_start(form, {'action': path('security_signup'), 'attr': {'id': 'register'}}) }}

  <div class="buttons">
    <button type="submit" name="register" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}
  </div>
  <p class="center">Deja inscrit ? </br>
      <a data-jump="true" data-target="{{ path('security_login') }}" class="tooltipped modal-trigger" data-tooltip="Connexion" role="button" href="#addModal">Se connecter</a>
  </p>
</div>

