<div id="search">
    <form class="form-inline">
        <input id="search-input" class="form-control" type="text" name="search"><i id="search-icon" class="fa fa-search fa-lg" aria-hidden="true"></i>
    </form>
</div>

