<div class="line bottom" id="search">
    <form>
        <table>
            <tr>
                <td>Rechercher dans mes articles  <input type="checkbox" id="myPosts"></td>
                <td></td>
            </tr>
            <tr>
                <td><div class="input-group input-group-sm"><input id="search-input" class="form-control input-sm" type="text" name="search"></div></td>
                <td><i id="search-icon" class="fa fa-search fa-lg" aria-hidden="true"></i></td>
            </tr>
        </table>
    </form>
</div>

