{% extends 'base.html.twig' %}

{% block title %}Mes articles de code{% endblock %}

{% block body %}
<section class="article">


    {% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ajouté le {{ article.createdAt | date('d/m/Y') }}</div>
        <div class="content">
            {% for memo in article.memos %}
                <pre><code class="language-javascript" contenteditable spellcheck="false">{{ memo.content | raw }}</code></pre>
            {% endfor %}
            <!--<a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>-->
        </div>
    </article>
</section>
{% endfor %}
{% endblock %}
